#studentCardContainter {
  height: 300px;
  background: white;
  position: relative;
  top: 50%;
  overflow: hidden;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.25);
  margin: 20px;
}

#studentCardContainter > h2 {
  padding: 10px;
  color: white;
  background: #5e35b1;
  margin: 0px;
  font-weight: 100;
  text-align: center;
  font-size: 18px;
  letter-spacing: 1px;

  /* font-family: 'Roboto', sans-serif; */
}
#studentCardContainter > .img-wrapper {
  padding: 0;
  position: relative;
  height: 200px;
}
#studentCardContainter > .details {
  color: '#212121';
  padding: 1px;
  font-weight: 500px;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  background: white;
}

#testimonialCardDetails {
  height: 225px;
  background: white;
  position: relative;
  top: 50%;
  overflow: hidden;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.25);
  margin: 20px;
}

#testimonialCardDetails > img {
  width: 75px;
  height: 75px;
  margin: 10px;
  float: left;
}

#testimonailParent {
  margin: 10px;
}

#testimonialSquare {
  font-size: 12px;
  line-height: 25px;
  color: #212121;
  opacity: 0.7;
}
#testimonialText {
  margin: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  clear: both;
  font-style: normal;
  font-size: 14px;
}

.titleText {
  font-weight: 200;
  font-size: 24px;
  color: black;
}

.titleSubText {
  font-size: 14px;
  color: #212121;
  opacity: 0.8;
}
